* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin:50px auto;
}

li {
  list-style: none;
}

.item {
  padding: 20px;
}

.item:nth-child(odd) {
  background-color: #eee;
}

.item:last-child {
  margin-bottom: 50px;
}

.box-list {
  display: flex;
  flex-wrap:wrap;
}

.box-item {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: #ffd700;
}

.box-item:nth-child(3n) {
  margin-right: 0;
}
.box-item:first-child,
.box-item:nth-child(5),
.box-item:last-child {
  background-color: #ff8c00;
}

.box-item:nth-child(7),
.box-item:nth-child(8),
.box-item:nth-child(9) {
  margin-bottom: 0;
}